<div id="details">
  <div *ngIf="selectedBook; else loading">
    <h2 class="mb-4 text-center">{{ selectedBook.title }}</h2>
    <p><strong>Author:</strong> {{ selectedBook.author }}</p>
    <p><strong>Description:</strong> {{ selectedBook.description }}</p>
    <p><strong>Genre:</strong> {{ selectedBook.genre }}</p>
    <p><strong>Year:</strong> {{ selectedBook.year }}</p>
    <div id="buttons">
      <button class="btn btn-primary ms-4">Update Details</button>
      <!-- <button class="btn btn-danger ms-4" (click)="deleteBook()" >Remove Book</button> -->
              <a class="btn btn-danger ms-4" 
        [routerLink]="['/allBooks']"
        [routerLinkActive]="'active'"
        (click)="deleteBook()"
        >Remove Book</a>

    </div>
  </div>

  <ng-template #loading>
    <p class="mb-5">Loading book details...</p>
  </ng-template>
</div>

<!-- <h1>DETAIL PAGE WORKING</h1>
<pre>{{ selectedBook | json }}</pre> -->