<div id="details">
  <div *ngIf="selectedBook; else loading">
    <h2 class="mb-4 text-center">{{ selectedBook.title }}</h2>
    <p><strong>Author:</strong> {{ selectedBook.author }}</p>
    <p><strong>Description:</strong> {{ selectedBook.description }}</p>
    <p><strong>Genre:</strong> {{ selectedBook.genre }}</p>
    <p><strong>Year:</strong> {{ selectedBook.year }}</p>
  </div>

  <ng-template #loading>
    <p class="mb-5">Loading book details...</p>
  </ng-template>
</div>

<!-- <h1>DETAIL PAGE WORKING</h1>
<pre>{{ selectedBook | json }}</pre> -->