<div id="container">
  <header class="d-flex justify-content-between m-5 m-0">
    <h3 class="m-0 ms-4">List of Books</h3>
    <a class="btn btn-dark ms-4" [routerLink]="['/addBook']">
      + Add Book
    </a>
  </header>

  @if(message){
    <p class="text-success m-2">
      {{message}}
    </p>
  }

  <!-- GRID ROW -->
<div class="row g-4 px-3">
  <div 
    *ngFor="let b of books; trackBy: trackById"
    class="col-12 col-sm-6 col-md-4 col-lg-3"
  >
    <div class="card book-card h-100 border-0 shadow-sm">
      <img [src]="b.image" class="card-img-top" alt="Book Image">

      <div class="card-body d-flex flex-column">
        <h6 class="card-title fw-bold mb-1">{{ b.title }}</h6>
        <p class="card-text text-muted small mb-2">
          {{ b.author }}
        </p>

        <a
          class="btn btn-outline-dark mt-auto"
          [routerLink]="['/allBooks', b.id]"
        >
          View Details
        </a>
      </div>
    </div>
  </div>
</div>
</div>
  <!-- <table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Book Info</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let b of books; let i = index; trackBy: trackById">
      <td>{{i + 1 }}.</td>
      <td>
        <a class="nav-link" 
        [routerLink]="['/allBooks', b.id]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}">{{ b.title }} by {{ b.author}}</a>
      </td> 
    </tr>
  </tbody>
</table> -->