<div id="container">
  <h3>List of Books</h3>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Book Info</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let b of books; trackBy: trackById">
      <td>{{ b.id }}.</td>
      <td>
        <a class="nav-link" 
        [routerLink]="['/allBooks', b.id]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}">{{ b.title }} by {{ b.author}}</a>
      </td> 
    </tr>
  </tbody>
</table>

</div>
