<div id="container">
  <header class="d-flex justify-content-between mb-3 m-0">
    <h3 class="m-0 ms-4">List of Books</h3>
    <a class="btn btn-dark ms-4" 
      [routerLink]="['/addBook']"
      >+ Add Book
    </a>
  </header>
  @if(message){
    <p class="text-success m-2">
      {{message}}
    </p>
  }
  <table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Book Info</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let b of books; let i = index; trackBy: trackById">
      <td>{{i + 1 }}.</td>
      <td>
        <a class="nav-link" 
        [routerLink]="['/allBooks', b.id]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}">{{ b.title }} by {{ b.author}}</a>
      </td> 
    </tr>
  </tbody>
</table>

</div>
